.CursorTooltip-container {
  position: absolute;
  padding: 16px;
}

.CursorTooltip-content {
  background: #222;
  color: #eee;
  padding: 0;
  border-radius: 4px;
  position: relative;
}

.CursorTooltip-container.CursorTooltip-up {
  transform: translate(-50%, 0%);
}
.CursorTooltip-container.CursorTooltip-down {
  transform: translate(-50%, -100%);
}

.CursorTooltip-up .CursorTooltip-content:after,
.CursorTooltip-down .CursorTooltip-content:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translate(-50%, 0);
}

.CursorTooltip-up .CursorTooltip-content:before,
.CursorTooltip-down .CursorTooltip-content:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translate(-50%, 0);
}

.CursorTooltip-up .CursorTooltip-content:after {
  border-bottom: 8px solid #222;
  top: -8px;
}

.CursorTooltip-down .CursorTooltip-content:after {
  border-top: 8px solid #222;
  bottom: -8px;
}

.CursorTooltip-up .CursorTooltip-content:before {
  top: -14px;
}

.CursorTooltip-down .CursorTooltip-content:before {
  bottom: -14px;
}
