.App {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.App-sidebar,
.App-main {
  height: 100%;
  box-sizing: border-box;
}

.App-sidebar {
  background-color: #333;
  color: white;
  padding: 16px;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-main {
  width: 100%;
}

.App-lineNumber {
  flex-shrink: 0;
  font-family: monospace;
  width: 32px;
  color: #888;
  text-align: right;
}

.App-line {
  display: flex;
  flex-direction: row;
}

.App-line pre {
  cursor: pointer;
  margin: 0;
  padding: 0 16px;
  width: 100%;
}

pre::-moz-selection { background: transparent; }
pre::selection { background: transparent; }

.App-char-ruler {
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
}

.App-focusCursor .CursorShape-rect {
  background: gold;
  box-shadow: 0 0 0 2px gold;
}

.App-hoverCursor .CursorShape-rect {
  background: lightgray;
  box-shadow: 0 0 0 2px lightgray;
}
