.CursorTooltip-container {
  position: absolute;
  padding: 16px;
}

.CursorTooltip-content {
  background: whitesmoke;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 0 4px hsla(0, 0%, 0%, 0.15);
}

.CursorTooltip-container.CursorTooltip-up {
  transform: translate(-50%, 0%);
}
.CursorTooltip-container.CursorTooltip-down {
  transform: translate(-50%, -100%);
}

.CursorTooltip-up .CursorTooltip-content:after,
.CursorTooltip-down .CursorTooltip-content:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translate(-50%, 0);
}

.CursorTooltip-up .CursorTooltip-content:before,
.CursorTooltip-down .CursorTooltip-content:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translate(-50%, 0);
}

.CursorTooltip-up .CursorTooltip-content:after {
  border-bottom: 8px solid whitesmoke;
  top: -8px;
}

.CursorTooltip-down .CursorTooltip-content:after {
  border-top: 8px solid whitesmoke;
  bottom: -8px;
}

.CursorTooltip-up .CursorTooltip-content:before {
  border-bottom: 10px solid hsla(0, 0%, 0%, 0.15);
  top: -14px;
}

.CursorTooltip-down .CursorTooltip-content:before {
  border-top: 10px solid hsla(0, 0%, 0%, 0.15);
  bottom: -14px;
}
